VITE_SUPABASE_URL=https://pkenrmorywmuvnzfoylp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_z8vTS60VmKgpsh1NiBnWDA_ed6ajgRJ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBrZW5ybW9yeXdtdXZuemZveWxwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyODE1NCwiZXhwIjoyMDkwODA0MTU0fQ.yy7yeue7zZe6nsa-UmZUiPtw0tjF_6QgdA4rsLBLYEE
VITE_YOUTUBE_API_KEY=AIzaSyBrpeQOUXnaQhO7_B7P3vea5KA5qy28eiU
VITE_TMDB_API_KEY=cdf52711ffbe9b6bfdba36422febdac8
TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjZGY1MjcxMWZmYmU5YjZiZmRiYTM2NDIyZmViZGFjOCIsIm5iZiI6MTc3NjQyMDYxNC44NTksInN1YiI6IjY5ZTIwNzA2ODY0NDQ3YjgzNzExYTBkOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.IQXhAmg7ptBDcE1cJjvwhxIcbOLMCW-EdEyThWmF-TQ