VITE_SUPABASE_URL=https://pkenrmorywmuvnzfoylp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_z8vTS60VmKgpsh1NiBnWDA_ed6ajgRJ
VITE_YOUTUBE_API_KEY=your_youtube_api_key
VITE_TMDB_API_KEY=your_tmdb_api_key
TMDB_ACCESS_TOKEN=your_tmdb_bearer_token